.map-content-container {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #8df80b; 
    border: 1px solid #000000; 
    border-radius: 8px; 
  }
  
  .info-box {
    width: 100%;
    max-width: 120rem;
    margin: 2rem auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #8df80b; 
    border: 1px solid #00796b; 
    color: #000000;
    border-radius: 8px; 
    text-align: center;
  }
  
  .info-box h2, .info-box p {
    margin: 5px 0;
    font-size: 1.2em;
  }